.box-conten {
    display: grid;
    grid-template-columns: 58rem 40rem;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.box-conten-big,
.box-conten-small {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transition: transform 0.3s ease;
    justify-content: flex-end;
}
.box-conten-big:hover,
.box-conten-small:hover {
    transform: translateY(-10px);
}

.box-conten-big {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3rem;
    width: 100%;
}

.box-small {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 50rem;
    width: 100%;
}

.conten-txt-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.button {
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 34px;
    background-color: var(--color-black);
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: var(--color-white);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    &:hover {
        color: #212121;
        scale: 1.2;
        box-shadow: 0 0px 20px 12px rgba(255, 255, 255, 0.466);
        border: 2px solid rgba(255, 255, 255, 0.692);
        &::before {
            scale: 3;
        }
    }
    &:active {
        scale: 1;
    }
}

.txt-title,
.txt-paragraph {
    color: var(--color-white);
}

.image-cards {
    width: 5rem;
}

@media screen and (min-width: 318px) and (max-width: 768px) {
    .box-conten {
        display: flex;
        gap: 28rem;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        padding: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 60%;
    }

    .box-big,
    .box-small {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        gap: 1rem;
    }

    .box-conten-big,
    .box-conten-small {
        min-width: 20rem;
        height: 23rem;
        background-size: cover;
        background-position: center;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        scroll-snap-align: start;
        transition: none;
        flex-shrink: 0;
    }

    .box-small {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        flex-shrink: 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .box-conten-big {
        width: 22rem;
    }

    .txt-title,
    .txt-paragraph {
        font-size: 18px;
        color: var(--color-white);
    }
}
