<div>
  <div class="dash__row" *ngFor="let estudo of displayedProjects; let index = index">
    <div class="box-dash" [ngClass]="'box-dash-' + index">
      <div class="box_txt">
        <a [routerLink]="['/estudo/article', estudo.url]">
          <h1 class="txt_title">{{ estudo.title }}</h1>
          <h3 class="txt_subtitle_3">{{ estudo.subtitle }}</h3>
          <p>{{ estudo.dates }}</p>
        </a>
      </div>
      <div class="_description_">
        <p>{{ estudo.description }}</p>
      </div>
      <div>
        <img class="img_box" src="{{ estudo.svg }}">
      </div>
    </div>
  </div>
  <div class="pagination" *ngIf="totalPages > 1">
    <button class="btn_pagination" *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1" (click)="goToPage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>