<div class="projects-all">
    <div class="forms-projects" >
      <mat-form-field class="form-proj-00">
        <mat-select 
          [(value)]="selected" 
          (selectionChange)="navigateToPage($event.value)" 
          (opened)="onOpen()" 
          (closed)="onClose()" 
          class="form-proj-select">
          <mat-option *ngFor="let forms of form_selection" class="{{ forms.className }}" value="{{ forms.value }}">{{ forms.txtName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="all-projects-area" [ngClass]="{'blurred-background': isDropdownOpen}">
      <div *ngIf="selected === 'all'">
        <app-project></app-project>
      </div>
      <div *ngIf="selected === 'sistemas'">
        <app-sistemas></app-sistemas>
      </div>
    
      <div *ngIf="selected === 'dashboard'">
        <app-deshboards></app-deshboards>
      </div>
    </div>
</div>