.projects-all{
    padding: 16rem 1rem 2rem 1rem;
}
.forms-projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1.5rem;
    height: 10rem;
}

.all-projects-area{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: filter 0.2s ease, opacity 0.3s ease;

    &.blurred-background {
        filter: blur(4px);
        opacity: 0.8;
    }
}

::ng-deep .mdc-line-ripple {
    display: none !important;
}

.form-proj-select{
    border: 1px solid;
    width: 12rem;
    height: 12rem;
}

.form-proj-00{
    width: 20rem;
}

.form-proj-select{
    border: 1px solid;
    width: 18rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
}
::ng-deep .mat-mdc-select-value{
    text-align: center;
    font-size: 1.5rem;
}

::ng-deep #mat-select-0-panel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 1rem;
    
}

::ng-deep #mat-option-0{
    gap: 5rem;
}
::ng-deep #mat-option-0,
::ng-deep #mat-option-1,
::ng-deep #mat-option-2,
::ng-deep #mat-option-3,
::ng-deep #mat-option-4{
    background-color: rgb(255 255 255 / 80%);
}

.form-proj-option{
    border: 1px solid;
    width: 90%;
    border-radius: 1rem;
    background-color: #ffffffbd;
}