<div class="page_system--row">
    <div class="page_system">
        <div class="page_system-title">
            <h1>Teste</h1>
        </div>
        <div class="page_system-contents">
            <div class="system_content">
                <div class="system-what">
                    <h2>Lorem</h2>
                    <p class="sytem_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, hic voluptas aspernatur aliquid voluptate temporibus reprehenderit! Omnis reprehenderit facere vero. Praesentium totam voluptates soluta delectus. Quia placeat tempora debitis eligendi.</p>
                </div>
                <div class="system-as">
                    <h2>Lorem</h2>
                    <p class="sytem_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, hic voluptas aspernatur aliquid voluptate temporibus reprehenderit! Omnis reprehenderit facere vero. Praesentium totam voluptates soluta delectus. Quia placeat tempora debitis eligendi.</p>
                </div>
                <div class="system-who">
                    <h2>Lorem</h2>
                    <p class="sytem_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, hic voluptas aspernatur aliquid voluptate temporibus reprehenderit! Omnis reprehenderit facere vero. Praesentium totam voluptates soluta delectus. Quia placeat tempora debitis eligendi.</p>
                </div>
                <div class="system-why">
                    <h2>Lorem</h2>
                    <p class="sytem_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, hic voluptas aspernatur aliquid voluptate temporibus reprehenderit! Omnis reprehenderit facere vero. Praesentium totam voluptates soluta delectus. Quia placeat tempora debitis eligendi.</p>
                </div>
            </div>
            <div class="page_system-list">
                <div class="system-list">
                    <ul class="list-contents">
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                        <li class="list_system">
                            <h3>lorem</h3>
                            <p>Lorem ipsum dolor sit</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="system-img_btn">
                <div class="system_img">
                </div>
                <div class="system_btn">
                    <button>
                        fuck you
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>