.projects-all {
    padding: 16rem 1rem 2rem 1rem;
}

.projects-container {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.forms-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    gap: 1.5rem;
    height: 10rem;
}
@media screen and (min-width: 318px) and (max-width: 768px) and (hover: none){
    .projects-all {
        padding: 0 ;
        width: 100%;
    }
    .all-projects-area{
        width: 100%;
    }

    .forms-projects {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        right: 1rem;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
