.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
}

.btn_pagination {
    border: none;
    font-size: 2.5rem;
    color: transparent;
    width: 8rem;
    height: 0.5rem;
    background: var(--cinza-escuro); 
    cursor: pointer;
    transition: background 0.3s ease;

    &.active {
        background: var(--color-black); 
    }
}