.conten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 2.5rem;
}
.content-txt00 {
    width: 41rem;
    text-align: justify;
}
.txt00 {
    font-size: 3rem;
}
.ptxt00 {
    font-size: 25px;
    padding-top: 2rem;
}