.content--row {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 4rem;
  position: absolute;
}
.conten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 2.5rem;
}
.content-txt00 {
  width: 41rem;
  text-align: justify;
}
.txt00 {
  font-size: 3rem;
}
.ptxt00 {
  font-size: 25px;
  padding-top: 2rem;
}
.box-conten {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 1rem;
}
.box-conten-big,
.box-conten-small {
  width: 100%;
  height: 50%;
  background-color: #717171;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: transform 0.3s ease;
  justify-content: flex-end;
  &:hover {
    transform: translateY(-10px);
  }
}

.box-conten-big {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 3rem;
}

.box-small {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 73rem;
}

.conten-txt-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.button {
  margin: 0.5rem;
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #000;
  border-radius: 34px;
  background-color: #000;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #fff;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:hover {
    color: #212121;
    scale: 1.2;
    box-shadow: 0 0px 20px 12px rgba(255, 255, 255, 0.466);
    border: 2px solid rgba(255, 255, 255, 0.692);
    &::before {
      scale: 3;
    }
  }
  &:active {
    scale: 1;
  }
}

.btn-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-contente {
  border-radius: 5rem;
  width: 23rem;
  height: 9rem;
  font-size: 3.5rem;
  background-color: black;
  color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
  }
}

.txt-title {
  font-size: 2.8rem;
}

.activity-area {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  .title-activity {
    font-family: "Familjen Grotesk", serif;
    font-weight: 500;
    font-size: 4rem;
  }
}

.box-activity {
  width: 20rem;
  height: 20rem;
  background-color: black;
  border-radius: 3rem;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  &:hover {
    background-color: #fdfdfd;
    svg path {
      fill: black;
    }
    .material-txt,
    .material-txt-dd,
    .material-txt-limp {
      color: black;
    }
  }
}

.box-activity00,
.box-activity01 {
  width: 71%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 2%;
}

.obt-limp-dd,
.auto-rot,
.analise-dd,
.desenvol-paper,
.apoio-sys,
.design,
.developer-web {
  height: 20rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.material-txt,
.material-txt-dd,
.material-txt-limp {
  font-size: 2rem;
  color: white;
}

.pop-up {
  width: 74rem;
  height: 34rem;
  border: 1px solid rgba(67, 67, 67, 0.56);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: absolute;
  left: 29rem;
  top: 122rem;
  background-color: white;
  box-shadow: 0px 0px 20px 20px rgba(67, 67, 67, 0.56);
  animation: slide-top 0.9s;
}

.closePopup {
  background-color: rgba(72, 72, 72, 0.34);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.26);
  animation: slide-bottom 0.9s;
}

.txt-p-popup {
  padding: 2rem;
  font-size: 27px;
  width: 50rem;
  text-align: justify;
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

.cont-repositor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40rem;
  margin: 5rem;
}

.line-cont {
  border: 3px solid var(--bluegray-900);
  width: 73%;
}

.content-people {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;
  height: 10%;
}

.repositories,
.projects,
.partners {
  text-align: center;
  .number {
    font-weight: bold;
    font-size: 5rem;
    transition: transform 0.5s;
  }
  .txt {
    font-size: 4rem;
    font-weight: bold;
    transition: transform 0.5s, margin-top 0.5s;
  }
  &:hover {
    .number {
      animation: bounce-small 0.5s;
    }
    .txt {
      animation: bounce 0.9s;
      margin-top: 4rem;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce-small {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.partners-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
  width: 100%;
}

.partners-area-img {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.partners-txt {
  font-size: 4rem;
}

.partner-img {
  width: 18rem;
  height: 12rem;
}
