<div class="content--row">
    <div class="conten">
        <div class="content-txt00">
            <h2 class="txt00">CODATA é a coordenadoria de análise de dados da Prefeitura de São Paulo.</h2>
            <p class="ptxt00">neque porro quisquam est qui dolorem ipsum quia dolor sit amet neque porro quisquam est qui dolorem ipsum quia dolor sit amet neque porro quisquam est qui dolorem ipsum quia dolor sit ametdolor sit amet neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
        </div>
    </div>
    <div class="box-conten">
        <div class="box-big">
            <div class="box-conten-big">
                <div class="conten-txt-btn">
                    <div class="btn-conten-box">
                        <button class="button">
                            notícia
                          </button>
                          <button class="button">
                            projeto
                          </button>
                    </div>
                    <div>
                        <h2 class="txt-title">o Observatório de Indicadores da Cidade de São Paulo (ObservaSampa) é uma política pública de Estado de dados</h2>
                    </div>
                    <div>
                        <p>2 de janeiro de 2024</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-small">
            <div class="box-conten-small">
                <div class="btn-conten-box">
                    <button class="button">
                        projeto
                      </button>
                </div>
                <div>
                    <h2 class="txt-title">quisquam est qui dolorem ipsum quia dolor sit amet neque porro</h2>
                </div>
                <div>
                    <p>2 de janeiro de 2024</p>
                </div>
            </div>
            <div class="box-conten-small">
                <div class="btn-conten-box">
                    <button class="button">
                        projeto
                      </button>
                </div>
                <div>
                    <h2 class="txt-title">artigo discorre sobre...</h2>
                </div>
                <div>
                    <p>2 de janeiro de 2024</p>
                </div>
            </div>
            <div class="box-conten-small">
                <div class="btn-conten-box">
                    <button class="button">
                        projeto
                      </button>
                </div>
                <div>
                    <h2 class="txt-title">desenvolvimento Web .....</h2>
                </div>
                <div>
                    <p>2 de janeiro de 2024</p>
                </div>
            </div>
        </div>
    </div>
    <div class="activity-area">
        <div class="box-activity"></div>
        <div class="box-activity"></div>
        <div class="box-activity"></div>
        <div class="box-activity"></div>
        <div class="box-activity"></div>
        <div class="box-activity"></div>
        <div class="box-activity"></div>
    </div>
</div>