.homepage {
    padding: 10rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    height: 260rem;
}

.home-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;
}
