<div class="page_estudos" *ngIf="estudo">
   <div class="_align_content_list">
        <div>
            <div class="_align_title">
                <h1 class="questions_title">{{ estudo.title}}</h1>
            </div>
            <div class="questions">
                <div class="list_questions" *ngFor="let section of estudo?.sections">
                    <h2 class="questions_title00">{{ section.title }}</h2>
                    <p class="questions_txt">{{ section.paragraph }}</p>
                </div>
            </div>
        </div>
        <div class="list_cont">
            <div class="_align_list">
                <ul class="list" *ngFor="let item of estudo?.listContents">
                    <li class="cont"><h3>{{ item.title }}</h3> <p>{{ item.content }}</p></li>
                </ul>
                <div class="btn_dwnld">
                    <button class="download">
                        <svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 -960 960 960" width="80px" fill="#000000"><path d="M480-318.09 266.65-531.44l57.13-56 116.61 116.61V-814.7h79.22v343.87l116.61-116.61 57.13 56L480-318.09ZM225.09-145.87q-32.51 0-55.87-23.35-23.35-23.36-23.35-55.87v-143h79.22v143h509.82v-143h79.79v143q0 32.48-23.53 55.85-23.52 23.37-56.26 23.37H225.09Z"/></svg>
                    </button>
                    <p class="txt_btn">PDF completo</p>
                </div>
            </div>
        </div>
   </div>
   <div class="carou_txt">
        <div class="caroussel">
            <section>
                <div class="container">
                  <div class="carousel">
                    <input *ngFor="let slide of slides; let i = index" type="radio" name="slides" [id]="slide.id" [checked]="i === 0" />
                    <ul class="carousel__slides">
                      <li *ngFor="let slide of slides" class="carousel__slide">
                        <figure>
                          <div>
                            <img [src]="slide.image" [ngClass]="slide.class_img">
                          </div>
                          <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">{{ slide.caption }}</span>
                          </figcaption>
                        </figure>
                      </li>
                    </ul>
                    <ul class="carousel__thumbnails">
                      <li *ngFor="let slide of slides">
                        <label [for]="slide.id">
                          <img [src]="slide.thumb" alt="">
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
        </div>
   </div>
</div>
