.page_system--row {
    padding: 6.3rem 0 0.5rem 0;
    height: 47.99rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.page_system-contents{
    width: 100vw;
   
}

.page_system {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow-y: hidden;
    padding: 0 2rem 0 10rem;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: auto;
    overflow-y: hidden;

    &:active {
        cursor: grabbing;
    }
    
}

.__page__ {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.page_system-title {
    font-size: 2.6rem;
    height: 100%;
    width: 100%;
    word-break: break-all;
    padding: 2rem .5rem;
}

.system_cantan {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.syste {
    padding: 0 0 4rem 0;
}

.page_system-contents {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: max-content;
}

.system-img_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}

.system_content {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    justify-content: center;
    width: 54rem;
    height: 28rem;
    justify-items: start;
}

.page_system-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    width: 14rem;
    align-content: flex-start;

    .list_system {
        padding: 1.5rem 0 1.5rem 0;
    }
}

.system_img {
    background-color: var(--color-black);
    width: 50rem;
    height: 33rem;
    border-radius: 3rem;
    flex-shrink: 0;
}

.img_sys {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.system_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    right: 5rem;
    bottom: 9.5rem;

    .btn {
        font-size: 3.5rem;
    }

    .txt_btn {
        font-family: "Familjen Grotesk", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        font-weight: bold;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 0;
        z-index: 0;
    }

    &:hover{
        .txt_btn {
            opacity: 1;
            z-index: -10;
        }

    }
}

.item_title {
    font-size: 26px;
}

.item_prgf {
    font-style: italic;
    width: 126px;
}

.system_title {
    font-size: 2.5rem;
    font-style: italic;
}
.sytem_paragraph {
    width: 23rem;
    text-align: justify;
    padding: 1.5rem 0 0 0;
}

.next_stage{
    width: 20rem;
    height: 20rem;
    background-color: purple;
}