<div class="conten">
    <div class="content-txt00">
        <h2 class="txt00">CODATA é a coordenadoria de análise de dados da Prefeitura de São Paulo.</h2>
        <p class="ptxt00">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus minima consequatur totam dolorem optio alias ab voluptas veniam pariatur nulla suscipit officia deleniti inventore nobis ullam, doloribus distinctio vero iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati quisquam voluptatem non quia aperiam dolores esse, earum ipsam! Dignissimos soluta illo fugiat libero temporibus ipsa in voluptas est autem!
        </p>
    </div>
</div>